xDWTemplates/Old/MonthlyReport.xml.xsd.old1

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="users">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="user"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="user">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="badge_number"/>
        <xs:element ref="username"/>
        <xs:element ref="email"/>
        <xs:element ref="gender"/>
        <xs:element ref="index_history"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="badge_number" type="xs:integer"/>
  <xs:element name="username" type="xs:NCName"/>
  <xs:element name="email" type="xs:string"/>
  <xs:element name="gender" type="xs:string"/>
  <xs:element name="index_history">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="update_date"/>
        <xs:element ref="first_date"/>
        <xs:element ref="items"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="update_date" type="xs:NMTOKEN"/>
  <xs:element name="first_date" type="xs:NMTOKEN"/>
  <xs:element name="items">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="item"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="item">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="day_offset"/>
        <xs:element ref="date"/>
        <xs:element ref="value"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="day_offset" type="xs:integer"/>
  <xs:element name="date" type="xs:NMTOKEN"/>
  <xs:element name="value" type="xs:integer"/>
</xs:schema>
